div.canvas {
    margin-top: 20px;
    margin-left: 10%;
    padding-top: 20px;
    width: 80%;
    height: 500px;
    background-color: white;
}

.canvas .rectangle {
    margin: 50px auto;
    width: 100px;
    height: 100px;
    background-color: green;
    border: 0;
    padding: 0;
}

.canvas .rectangle-with-border {
    margin: 50px auto;
    width: 150px;
    height: 100px;
    background-color: transparent;
    border: 20px solid green;
}

.canvas .rectangle-with-different-border {
    margin: 50px auto;
    width: 150px;
    height: 100px;
    background-color: transparent;
    border-top: 10px solid green;
    border-right: 20px solid yellow;
    border-bottom: 30px solid red;
    border-left: 40px solid blue;
}

.canvas .rectangle-with-different-border-and-zero-size {
    margin: 50px auto;
    width: 0;
    height: 0;
    background-color: transparent;
    border-top: 60px solid green;
    border-right: 70px solid yellow;
    border-bottom: 80px solid red;
    border-left: 90px solid blue;
}

.canvas .triangle {
    margin: 50px auto;
    width: 0;
    height: 0;
    background-color: transparent;
    border-top: 60px solid green;
    border-right: 70px solid transparent;
    border-bottom: 80px solid transparent;
    border-left: 90px solid transparent;
}

.canvas .triangle-topleft {
    margin: 50px auto;
    width: 0;
    height: 0;
    background-color: transparent;
    border-top: 60px solid green;
    border-right: 70px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 70px solid green;
}

.canvas .trapezoid {
    margin: 50px auto;
    width: 100px;
    height: 0;
    background-color: transparent;
    border-top: 100px solid green;
    border-right: 70px solid transparent;
    border-bottom: 0;
    border-left: 90px solid transparent;
}

div.canvas-top {
    margin-top: 20px;
    margin-left: 10%;
    padding-top: 20px;
    width: 80%;
    height: 200px;
    background-color: white;
}

.canvas-top .diamond .top {
    margin: 50px auto 0;
    border-top: 0 solid transparent;
    border-bottom: 25px solid green;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 50px;
}

.canvas-top .diamond .bottom {
    margin: 0 auto 50px;
    border-top: 70px solid green;
    border-bottom: 0 solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    width: 0;
    height: 0;
}

.canvas-top .cut-diamond {
    border-top: 0 solid transparent;
    border-bottom: 25px solid pink;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 50px;
    position: relative;
    margin: 20px auto 90px;
}

.canvas-top .cut-diamond:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-top: 70px solid pink;
    border-bottom: 0 solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.canvas .rounded-rectangle {
    margin: 50px auto;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: 20px solid green;
    border-radius: 20px;
}

.canvas .ellipse {
    margin: 50px auto;
    width: 0;
    height: 0;
    border-top: 20px solid green;
    border-left: 40px solid green;
    border-bottom: 20px solid green;
    border-right: 40px solid green;
    border-top-left-radius: 40px 20px;
    border-top-right-radius: 40px 20px;
    border-bottom-left-radius: 40px 20px;
    border-bottom-right-radius: 40px 20px;
}

.canvas .top-half-circle {
    margin: 50px auto;
    width: 0;
    height: 0;
    border-top: 50px solid green;
    border-left: 50px solid green;
    border-bottom: 0 solid transparent;
    border-right: 50px solid green;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.canvas-top .up-capsule {
    margin: 10px auto;
    width: 0;
    height: 0;
    border-top: 150px solid green;
    border-left: 50px solid green;
    border-bottom: 0 solid transparent;
    border-right: 50px solid green;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.canvas-top .heart {
    margin: 10px auto;
    width: 0;
    height: 0;
    border-top: 150px solid red;
    border-left: 50px solid red;
    border-bottom: 0 solid transparent;
    border-right: 50px solid red;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    -webkit-transform: rotate(-45deg);
}
.canvas-top .heart:after {
    content: "";
    margin: 10px auto;
    width: 0;
    height: 0;
    border-top: 150px solid red;
    border-left: 50px solid red;
    border-bottom: 0 solid transparent;
    border-right: 50px solid red;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-transform: rotate(90deg);
    position: absolute;
    top:-135px;
    left:-25px;
}